.DS_Store
.Trash/
.bash_history
.claude.json*
.cursor/
.lesshst
.npm/
.vscode/
.zsh_history
.zsh_sessions/
Applications/
.localized
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
open-claude-cowork/
package-lock.json
node_modules/
.env
.env.local
.env.production
node_modules/
.next/
.env
.DS_Store
dist/
